{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.current_password.label_tag }} {{ form.current_password }}
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        <button type="submit">Change Password</button>
    </form>
{% endblock %}
